//TODO: fix max-size
//TODO: style h2, more space

.about {
  .team-member-container {
    display: flex;
    align-items: center;
    gap: $spacing;
    padding: $spacing;
    margin: 0 1rem $spacing 1rem;
    border-radius: $border-radius;
    box-shadow: $shadow;
  }
}

@media only screen and (max-width: $breakpoint-md) {
  .team-member-container {
    display: flex;
    flex-direction: column;
  }
}
